.image-list {
    columns: 6 200px;
    column-gap: 10px;
}

img {
    width: 100%;
    margin-bottom: 10px;
}

.images-container {
    text-align: center;
    padding: 10px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(161, 206, 245);
    border-style: ridge;
    position: relative;
    margin: 0px 20px 10px 20px;
}